<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>毕设知乎系统-回答</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<body>
<header th:replace="common::header"></header>
<main style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span hidden id="login" th:text="${login}"></span>
                <!--正文内容-->
                <div class="col-lg-8" style="padding-right: 0px;padding-left: 0PX">
                    <!--二级目录-->
                    <div class="col-lg-12"
                         style="padding-right: 15px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf">
                        <a href="">
                            <div class="questionChoose">
                                人气问题
                            </div>
                        </a>

                        <a href="">
                            <div class="questionChoose">
                                最新发布
                            </div>
                        </a>

                        <a href="">
                            <div class="questionChoose">
                                回答激烈
                            </div>
                        </a>
                    </div>
                    <!--一条问题-->
                    <div th:each="question,start:${questionList}" class="col-lg-12"
                         style="padding-right: 15px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf">
                        <div class="col-lg-12" style="margin: 20px 0px;padding:0px 15px ">
                            <div>
                                <a th:href="'/questions/'+${question.questionId}">
                                    <span th:text="${question.content}"
                                          style="font-weight:bold;width: 80%;font-size: 18px"></span>
                                    <button hidden class="noButton" style="float: right"><img
                                            src="fonts/delete.svg" alt=""
                                            style="height: 20px;width: 20px;">
                                    </button>
                                </a>
                            </div>
                            <div style="margin: 20px 30px 10px 0px;float: left">
                                <button class="btDown attention" style="display: flex; align-items:center;height: 30px">
                                    <img src="fonts/pen%20.svg" alt="" style="width: 20px;height: 20px">写回答
                                </button>
                            </div>
                            <div style="margin: 20px 30px 10px 0px;float: left">
                                <button class="noButton font-c3 attention" style="display: flex; align-items:center;height: 30px">
                                    <img src="fonts/add.svg" alt=""
                                         style="width: 14px;height: 14px; margin-top: -2px;">关注问题
                                </button>
                            </div>
                            <div style="margin: 20px 30px 10px 0px;float: left">
                                <button class="noButton font-c3 attention" style="display: flex; align-items:center;height: 30px">
                                    <img src="fonts/report.svg" alt="" style="width: 20px;height: 20px">举报
                                </button>
                            </div>
                            <div class="font-c3" style="margin: 20px 30px 10px 0px;float: right">
                                <img src="fonts/hot.svg" alt="" style="width: 20px;height: 20px">
                                <span th:text="${question.view}"></span>

                            </div>
                            <div class="font-c3" style="margin: 20px 30px 10px 0px;float: right">
                                <img src="fonts/answer3.svg" alt="" style="width: 20px;height: 20px">1

                            </div>


                        </div>
                    </div>

                </div>


                <!--右侧栏-->
                <div th:replace="common::right"></div>
            </div>
        </div>
    </div>

</main>


<!--问题夹弹出框-->
<div th:replace="common::alert-question"></div>

</body>

<script>
    $(document).ready(function () {
        if ($("#login").text() !== "true") {
            $('.attention').attr("disabled", true);
        }
    })
</script>
</html>