<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>毕设知乎系统-回答</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<body>
<header th:replace="common::header"></header>
<main style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--正文内容-->
                <div class="col-lg-8" style="padding-right: 0px;padding-left: 0PX">
                    <!--二级目录-->
                    <div class="col-lg-12"
                         style="padding-right: 15px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf">
                        <a href="">
                            <div style="float:left;background-color: rgba(0,103,255,0.77);border-radius: 20px;height: 40px;display: flex;
                            align-items:center;width: 100px;color: whitesmoke;padding-left: 20px;margin: 20px 5px">
                                人气问题
                            </div>
                        </a>

                        <a href="">
                            <div style="float:left;background-color: rgba(0,103,255,0.77);border-radius: 20px;height: 40px;display: flex;
                            align-items:center;width: 100px;color: whitesmoke;padding-left: 20px;margin: 20px 5px">
                                最新发布
                            </div>
                        </a>

                        <a href="">
                            <div style="float:left;background-color: rgba(0,103,255,0.77);border-radius: 20px;height: 40px;display: flex;
                            align-items:center;width: 100px;color: whitesmoke;padding-left: 20px;margin: 20px 5px">
                                悬赏金高
                            </div>
                        </a>
                        <a href="">
                            <div style="float:left;background-color: rgba(0,103,255,0.77);border-radius: 20px;height: 40px;display: flex;
                            align-items:center;width: 100px;color: whitesmoke;padding-left: 20px;margin: 20px 5px">
                                回答激烈
                            </div>
                        </a>
                    </div>
                    <!--一条问题-->
                    <div class="col-lg-12"
                         style="padding-right: 15px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf">
                        <div class="col-lg-12" style="margin: 20px 0px;padding:0px 15px " onmouseenter="showDv2('q123')" onmouseleave="closeDv2('q123')">
                            <div>
                                <span  style="font-weight:bold;width: 80%;font-size: 18px">怎么让你喜欢我?</span>
                                <button id="q123" hidden class="noButton" style="float: right"><img src="fonts/delete.svg" alt=""
                                                                                   style="height: 20px;width: 20px;">
                                </button>
                            </div>


                            <div style="margin: 20px 30px 10px 0px;float: left">
                                <button class="btDown" style="display: flex; align-items:center;height: 30px">
                                    <img src="fonts/pen%20.svg" alt="" style="width: 20px;height: 20px">写回答
                                </button>
                            </div>
                            <div style="margin: 20px 30px 10px 0px;float: left">
                                <button class="noButton font-c3" style="display: flex; align-items:center;height: 30px">
                                    <img src="fonts/add.svg" alt="" style="width: 20px;height: 20px">关注问题
                                </button>
                            </div>
                            <div style="margin: 20px 30px 10px 0px;float: left">
                                <button class="noButton font-c3" style="display: flex; align-items:center;height: 30px">
                                    <img src="fonts/report.svg" alt="" style="width: 20px;height: 20px">举报
                                </button>
                            </div>
                            <div class="font-c3" style="margin: 20px 30px 10px 0px;float: right">
                                <img src="fonts/hot.svg" alt="" style="width: 20px;height: 20px">128

                            </div>
                            <div class="font-c3" style="margin: 20px 30px 10px 0px;float: right">
                                <img src="fonts/answer3.svg" alt="" style="width: 20px;height: 20px">1

                            </div>




                        </div>
                    </div>

                </div>


                <!--右侧栏-->
                <div class="col-lg-4 " style="padding-right: 0px;">
                    <!--三大功能-->
                    <div class="col-lg-12"
                         style="padding: 17px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">
                        <div class="col-lg-4" style="text-align: center">
                            <button class="noButton">
                                <img src="fonts/write.svg" alt="" style="height: 30px;width: 30px">
                                <div style="margin-top: 5px">写文章</div>

                            </button>
                        </div>
                        <div class="col-lg-4" style="text-align: center">
                            <button class="noButton">
                                <img src="fonts/article.svg" alt="" style="height: 30px;width: 30px">
                                <div style="margin-top: 5px">提问题</div>

                            </button>

                        </div>
                        <div class="col-lg-4" style="text-align: center">
                            <button class="noButton">
                                <img src="fonts/answer.svg" alt="" style="height: 30px;width: 30px">
                                <div style="margin-top: 5px">来解答</div>

                            </button>
                        </div>
                    </div>
                    <!--身份信息-->

                    <div class="col-lg-12"
                         style="margin-top: 10px;padding: 0px 30px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">
                        <!--用户未登录第一次显示界面-->
                        <div id="zf-userMessage" class="line2">
                            <!--                        <img class="svgStyle" src="fonts/user-solid.svg" alt="" style="height: 17px;width: 17px;">-->
                            您还未登录
                            <button class="noButton" onclick="openLoginDiv()"
                                    style="float: right;color:dodgerblue;text-align: center;min-width: 20px">登陆/注册
                            </button>
                        </div>
                        <!--用登录界面-->
                        <div id="zf-login" hidden class="line2">
                            <div style="text-align: center">请登录</div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/user-solid.svg" style="height: 15px;width: 15px">
                            </span>
                                <input type="text" class="form-control" placeholder="账号"
                                       aria-describedby="sizing-addon3">
                            </div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/password.svg" style="height: 15px;width: 15px">
                            </span>
                                <input type="password" class="form-control" placeholder="密码"
                                       aria-describedby="sizing-addon3">
                            </div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/VerificationCode.svg" style="height: 15px;width: 15px">
                            </span>

                                <img src="images/test.jpg" alt="" style="height: 40px;width: 100%">
                                <input type="password" class="form-control" placeholder="验证码"
                                       aria-describedby="sizing-addon3">
                            </div>
                            <div style="text-align: center">
                                <div style="height: 18px;color: red">密码错误</div>
                                <button type="submit" class="btn btn-default"
                                        style="width: 80%;;background:linear-gradient(90deg,#005cff,#2ab0ff);color: white">
                                    登录
                                </button>
                                <div style="margin-top: 10px">

                                    <button class="noButton" style="font-size: 13px" onclick="openRegisterDiv()">
                                        还没有账号？点此注册！
                                    </button>

                                </div>

                            </div>


                        </div>
                        <!--用注册界面-->
                        <div id="zf-register" hidden class="line2">
                            <div style="text-align: center">请填写以下信息完成注册</div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/user-solid.svg" style="height: 15px;width: 15px">
                            </span>
                                <input type="text" class="form-control" placeholder="账号"
                                       aria-describedby="sizing-addon3">
                            </div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/password2.svg" style="height: 15px;width: 15px">
                            </span>
                                <input type="password" class="form-control" placeholder="密码"
                                       aria-describedby="sizing-addon3">
                            </div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/password.svg" style="height: 15px;width: 15px">
                            </span>
                                <input type="password" class="form-control" placeholder="确认密码"
                                       aria-describedby="sizing-addon3">
                            </div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/email.svg" style="height: 15px;width: 15px">
                            </span>
                                <input type="password" class="form-control" placeholder="邮箱"
                                       aria-describedby="sizing-addon3">
                            </div>
                            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="fonts/VerificationCode.svg" style="height: 15px;width: 15px">
                            </span>


                                <input type="password" class="form-control" placeholder="邮箱验证码"
                                       aria-describedby="sizing-addon3" style="width: 61%">
                                <button style="height: 30px;">获取验证码</button>
                            </div>
                            <div style="text-align: center">
                                <div style="height: 18px;color: red">登录成功</div>
                                <button type="submit" class="btn btn-default"
                                        style="width: 80%;;background:linear-gradient(90deg,#005cff,#2ab0ff);color: white">
                                    注册
                                </button>
                                <div style="margin-top: 10px">

                                    <button class="noButton" style="font-size: 13px" onclick="openLoginDiv()">
                                        已有账号？点此登录！
                                    </button>

                                </div>

                            </div>


                        </div>


                    </div>

                    <!--个人信息-->
                    <div class="col-lg-12"
                         style="margin-top: 10px;padding: 8px 30px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">

                        <div class="line2">
                            <img class="svgStyle" src="fonts/article-solid.svg" alt=""
                                 style="height: 17px;width: 17px;">
                            <button class="noButton" onclick="toggleSlide('myArticle')">
                                我的文章
                            </button>
                            <span style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">26</span>
                            <!--隐藏的我的文章-->
                            <div id="myArticle" class="slideUp" hidden>
                                <!--一篇我的文章-->
                                <div style="margin-top: 10px">
                                    <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                        <img class="svgStyle" src="fonts/article2.svg" alt=""
                                             style="height: 17px;width: 17px;">
                                        文章名称很长很长很长很长很长很长很长很长很长很长很长
                                    </div>
                                </div>


                            </div>


                        </div>
                        <div class="line2">
                            <img class="svgStyle" src="fonts/favorite-solid.svg" alt=""
                                 style="height: 17px;width: 17px;">
                            <button class="noButton" style="" onclick="toggleSlide('myFavorite')">
                                我的收藏
                            </button>
                            <span style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">10</span>
                            <!--隐藏的 我的收藏-->
                            <div id="myFavorite" class="slideUp" hidden>
                                <!--一篇 我的收藏-->
                                <div style="margin-top: 10px">
                                    <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                        <img class="svgStyle" src="fonts/favorite.svg" alt=""
                                             style="height: 17px;width: 17px;">
                                        文章名称很长很长很长很长很长很长很长很长很长很长很长
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="line2">
                            <img class="svgStyle" src="fonts/question-solid.svg" alt=""
                                 style="height: 17px;width: 17px;">
                            <button class="noButton" style="" onclick="toggleSlide('myquestion')">
                                我提出的问题
                            </button>
                            <span style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">1</span>
                            <!--隐藏的我提出的问题-->
                            <div id="myquestion" class="slideUp" hidden>
                                <!--一篇我提出的问题-->
                                <div style="margin-top: 10px">
                                    <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                        <img class="svgStyle" src="fonts/question.svg" alt=""
                                             style="height: 14px;width: 14px;">
                                        文章名称很长很长很长很长很长很长很长很长很长很长很长
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line2">
                            <img class="svgStyle" src="fonts/column-solid.svg" alt="" style="height: 17px;width: 17px;">
                            <button class="noButton" style="" onclick="toggleSlide('mycolumn')">
                                我关注的专栏
                            </button>
                            <span style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">1</span>
                            <!--隐藏的我关注的专栏-->
                            <div id="mycolumn" class="slideUp" hidden>
                                <!--一篇我关注的专栏-->
                                <div style="margin-top: 10px">
                                    <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                        <img class="svgStyle" src="fonts/colunm.svg" alt=""
                                             style="height: 14px;width: 14px;">
                                        文章名称很长很长很长很长很长很长很长很长很长很长很长
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line2">
                            <img class="svgStyle" src="fonts/answer-solid.svg" alt="" style="height: 17px;width: 17px;">
                            <button class="noButton" style="" onclick="toggleSlide('myanswer')">
                                我的回答
                            </button>
                            <span style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">2</span>
                            <!--隐藏我的回答-->
                            <div id="myanswer" class="slideUp" hidden>
                                <!--一篇我的回答-->
                                <div style="margin-top: 10px">
                                    <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                        <img class="svgStyle" src="fonts/answer2.svg" alt=""
                                             style="height: 17px;width: 17px;">
                                        文章名称很长很长很长很长很长很长很长很长很长很长很长
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</main>

</body>
</html>