<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<!--头部导航栏-->
<header th:fragment="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index" style="color:#2eb3ee;font-size: 25px">仿知乎</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li th:class="${header.index}"><a href="/index">首页 <span class="sr-only">(current)</span></a></li>
                    <li th:class="${header.topic}"><a href="/topic">话题</a></li>
                    <li th:class="${header.answer}"><a href="/answer">等你来答</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <li class="dropdown" style="list-style: none;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="background: none">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="里面写一个问题从数据库中" style="width: 300px">
                            </div>
                        </a>
                        <button type="submit" class="btn btn-default"
                                style="background-color: dodgerblue;color: white">提问
                        </button>

                        <ul class="dropdown-menu" style="width: 300px;right: -125px;">
                            <div class="font-c3" style="text-align: left;padding:11px;font-size: 15px ">
                                大家都在搜
                            </div>
                            <hr style="margin: 5px">

                            <div style="text-align: left;padding :0px 10px ">
                                <a href="">
                                    <div style="margin-top: 10px">
                                        <img src="/fonts/hot-red.svg"
                                             style="width: 17px;height: 17px"> 美国疫情情况
                                    </div>
                                </a>

                                <a href="">
                                    <div style="margin-top: 10px">
                                        <img src="/fonts/hot-red.svg"
                                             style="width: 17px;height: 17px"> 美国疫情情况
                                    </div>
                                </a>


                            </div>


                        </ul>
                    </li>


                </form>
                <ul shiro:authenticated class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="background: none"><img
                                src="/fonts/message.svg"
                                alt=""
                                style="width: 20px;height: 20px">
                        </a>
                        <div class="alarm">15</div>
                        <ul class="dropdown-menu" style="width: 300px;right: -125px;">
                            <div style="text-align: center">
                                系统通知

                            </div>
                            <hr>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="background: none"><img
                                src="/fonts/message2.svg"
                                alt=""
                                style="width: 20px;height: 20px">
                        </a>
                        <div class="alarm">5</div>
                        <ul class="dropdown-menu" style="width: 300px;right: -125px;">
                            <div style="text-align: center">
                                我的消息

                            </div>
                            <hr>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="padding: 5px 14px 0px 0px;background: none"><img
                                th:src="'/upload/users/'+${info.userImg}"
                                alt=""
                                style="width: 40px;height: 40px">
                        </a>
                        <ul class="dropdown-menu" style="right: -25px;">
                            <li style="margin-top: 15px">
                                <a class="font-c3" th:href="'/users/'+${info.uid}"><img
                                        style="width: 14px;height: 14px;margin-top: -5px;"
                                        src="/fonts/user-solid.svg">
                                    <span style="padding-left: 2px">我的主页</span>
                                </a>
                            </li>
                            <li style="margin-top: 15px">
                                <a class="font-c3" th:href="'/set'"><img style="width: 14px;height: 14px;margin-top: -5px;"
                                                                 src="/fonts/setting.svg">
                                    <span style="padding-left: 2px">设置</span>
                                </a>
                            </li>
                            <li style="margin-top: 15px">
                                <a class="font-c3" href="/logout"><img
                                        style="width: 14px;height: 14px;margin-top: -5px;"
                                        src="/fonts/logout.svg">
                                    <span style="padding-left: 2px">注销</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!--右侧栏-->
<div th:fragment="right" class="col-lg-4 " style="padding-right: 0px;">
    <!--三大功能-->
    <div shiro:authenticated class="col-lg-12"
         style="padding: 17px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">
        <div class="col-lg-4" style="text-align: center">
            <a href="/articleEditor">
                <button class="noButton">
                    <img src="/fonts/write.svg" alt="" style="height: 30px;width: 30px">
                    <div style="margin-top: 5px">写文章</div>

                </button>
            </a>
        </div>
        <div class="col-lg-4" style="text-align: center">
            <a href="#pull-question">
                <button class="noButton">
                    <img src="/fonts/article.svg" alt="" style="height: 30px;width: 30px">
                    <div style="margin-top: 5px">提问题</div>

                </button>
            </a>
        </div>
        <div class="col-lg-4" style="text-align: center">
            <a href="/topicEditor">
                <button class="noButton">
                    <img src="/fonts/column3.svg" alt="" style="height: 30px;width: 22px">
                    <div style="margin-top: 5px">发话题</div>

                </button>
            </a>

        </div>
    </div>
    <!--身份信息-->

    <div class="col-lg-12"
         style="margin-top: 10px;padding: 0px 30px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">
        <!--用户未登录第一次显示界面-->
        <div shiro:guest id="zf-userMessage" class="line2">
            您还未登录
            <button id="tips" class="noButton" onclick="openLoginDiv()"
                    style="float: right;color:dodgerblue;text-align: center;min-width: 20px">登陆/注册
            </button>
        </div>
        <!--用登录界面-->
        <div id="zf-login" hidden class="line2">
            <div style="text-align: center">请登录</div>
            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/user-solid.svg" style="height: 15px;width: 15px">
                            </span>
                <input id="zf-account" type="text" class="form-control" placeholder="邮箱"
                       aria-describedby="sizing-addon3">
            </div>
            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/password.svg" style="height: 15px;width: 15px">
                            </span>
                <input id="zf-p" type="password" class="form-control" placeholder="密码"
                       aria-describedby="sizing-addon3">
            </div>
            <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/VerificationCode.svg" style="height: 15px;width: 15px">
                            </span>

                <img id="imgCode" src="/captcha" alt="" style="height: 40px;width: 100%" onclick="changeImg()">
                <input id="zf-code" autocomplete="off" type="text" class="form-control" placeholder="验证码"
                       aria-describedby="sizing-addon3" style="border: 1px solid #00000045;">
            </div>
            <div style="text-align: center">
                <div id="login-msg" style="height: 18px;color: red"></div>
                <button type="button" class="btn btn-default" onclick="userLogin()"
                        style="width: 80%;;background:linear-gradient(90deg,#005cff,#2ab0ff);color: white">
                    登录
                </button>
                <div style="margin-top: 30px">

                    <button class="noButton" style="font-size: 13px" onclick="openRegisterDiv()">
                        还没有账号？点此注册！
                    </button>

                </div>

            </div>


        </div>
        <!--用注册界面-->
        <div id="zf-register" hidden class="line2">
            <div style="text-align: center">请填写以下信息完成注册</div>
            <form action="/register" method="post">
                <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/email.svg" style="height: 15px;width: 15px">
                            </span>
                    <input id="zf-email" name="email" type="email" class="form-control" placeholder="邮箱(最好QQ邮箱)"
                           aria-describedby="sizing-addon3">
                </div>
                <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/password2.svg" style="height: 15px;width: 15px">
                            </span>
                    <input id="zf-password" name="password" type="password" class="form-control" placeholder="密码"
                           aria-describedby="sizing-addon3">
                </div>
                <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/password.svg" style="height: 15px;width: 15px">
                            </span>
                    <input id="zf-rePass" name="rePass" type="password" class="form-control" placeholder="确认密码"
                           aria-describedby="sizing-addon3">
                </div>
                <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/name.svg" style="height: 15px;width: 15px">
                            </span>
                    <input id="zf-name" name="name" autocomplete="off" type="text" class="form-control"
                           placeholder="用户名"
                           aria-describedby="sizing-addon3">
                </div>
                <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                 <img src="/fonts/VerificationCode.svg" style="height: 15px;width: 15px">
                            </span>
                    <input id="zf-emailCode" name="emailCode" autocomplete="off" type="text" class="form-control"
                           placeholder="邮箱验证码"
                           aria-describedby="sizing-addon3" style="width: 61%">
                    <button style="height: 30px;" type="button" onclick="registerCode()">获取验证码
                    </button>
                </div>
                <div style="text-align: center">
                    <div id="register-msg" style="height: 18px;color: red"></div>
                    <input type="button" class="btn btn-default"
                           style="width: 80%;;background:linear-gradient(90deg,#005cff,#2ab0ff);color: white"
                           value="注册" onclick="userRegister()">
                    <div style="margin-top: 30px">

                        <button class="noButton" type="button" style="font-size: 13px" onclick="openLoginDiv()"> 已有账号？点此登录！
                        </button>

                    </div>

                </div>

            </form>
        </div>
        <!--用户已登录面板-->
        <div shiro:authenticated id="zf-user" class="line2 user">
            <a th:href="'/users/'+${info.uid}">
                <div style="margin: 10px 0px">
                    <div style="float: left"><img th:src="'/upload/users/'+${info.userImg}" alt=""
                                                  style="width: 40px;height: 40px;border: 1px solid #d2d2d2;border-radius: 2px">
                    </div>

                    <div>
                        <span th:text="${info.name}" style="font-weight: bold;color: black"></span>
                        <span th:if="${info.agency}!='not'" class="tips" th:attr="tooltip='机构认证：'+${info.agency}">
                                <img src="/fonts/attest.svg" alt=""
                                     style="width: 20px;height: 20px;border: 1px solid #d2d2d2;border-radius: 2px">
                                 </span>
                        <span th:if="${info.identity}!='not'" class="tips" th:attr="tooltip='身份认证：'+${info.identity}">
                                <img src="/fonts/identity.svg" alt=""
                                     style="width: 20px;height: 20px;border: 1px solid #d2d2d2;border-radius: 2px">
                                 </span>
                    </div>
                    <div>
                        <button class="noButton">
                            粉丝<span th:text="${info.fans}" style="color:#353535;">0</span>
                        </button>
                        <button class="noButton">
                            关注<span th:text="${info.attention}" style="color:#353535;">0</span>
                        </button>

                    </div>

                </div>
            </a>



        </div>


    </div>

    <!--个人信息-->
    <div shiro:authenticated class="col-lg-12 user"
         style="position: relative;margin-top: 10px;padding: 8px 30px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;min-height: 253px">
        <div hidden id="infoLoad" class="contain"
             style="position: absolute;left: 35%;top: 50%;width: 100px;height: 80px">
            <div class="preload-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="infoDiv">
            <div class="line2">
                <img class="svgStyle" src="/fonts/column-solid.svg" alt="" style="height: 17px;width: 17px;">
                <button class="noButton" style="" onclick="toggleSlide(1)">
                    我的专栏
                </button>
                <span th:text="${info.columnCount}"
                      style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">1</span>
                <!--隐藏的我关注的专栏-->
                <div id="mycolumn" class="slideUp" hidden>
                    <!--一篇我关注的专栏-->
                    <div style="margin-top: 10px">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                            <img class="svgStyle" src="/fonts/colunm.svg" alt=""
                                 style="margin-top: 0px;float:left;height: 14px;width: 14px;">
                            文章名称很长很长很长很长很长很长很长很长很长很长很长
                        </div>
                    </div>
                </div>
            </div>
            <div class="line2">
                <img class="svgStyle" src="/fonts/article-solid.svg" alt=""
                     style="height: 17px;width: 17px;">
                <button class="noButton" onclick="toggleSlide(2)">
                    我的文章
                </button>
                <span th:text="${info.articleCount}"
                      style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">26</span>
                <!--隐藏的我的文章-->
                <div id="myArticle" class="slideUp" hidden>
                    <!--一篇我的文章-->
                    <div style="margin-top: 10px">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                            <img class="svgStyle" src="/fonts/article2.svg" alt=""
                                 style="height: 17px;width: 17px;">
                            文章名称很长很长很长很长很长很长很长很长很长很长很长
                        </div>
                    </div>


                </div>


            </div>
            <div class="line2">
                <img class="svgStyle" src="/fonts/question-solid.svg" alt="" style="height: 17px;width: 17px;">
                <button class="noButton" style="" onclick="toggleSlide(3)">
                    我的问题
                </button>
                <span th:text="${info.questionCount}"
                      style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">1</span>
                <!--隐藏的我提出的问题-->
                <div id="myquestion" class="slideUp" hidden>
                    <!--一篇我提出的问题-->
                    <div style="margin-top: 10px">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                            <img class="svgStyle" src="/fonts/question.svg" alt=""
                                 style="margin-top: 0px;float:left;height: 14px;width: 14px;">
                            文章名称很长很长很长很长很长很长很长很长很长很长很长
                        </div>
                    </div>
                </div>
            </div>


            <div class="line2">
                <img class="svgStyle" src="/fonts/topic-solid.svg" alt="" style="height: 17px;width: 17px;">
                <button class="noButton" style="" onclick="toggleSlide(5)">
                    我关注的专栏
                </button>
                <span th:text="${info.myFColumnCount}"
                      style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">1</span>
                <!--隐藏的我关注的专栏-->
                <div id="myTopic" class="slideUp" hidden>
                    <!--一篇我关注的专栏-->
                    <div style="margin-top: 10px">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                            <img class="svgStyle" src="/fonts/colunm.svg" alt=""
                                 style="height: 14px;width: 14px;">
                            文章名称很长很长很长很长很长很长很长很长很长很长很长
                        </div>
                    </div>
                </div>
            </div>
            <div class="line2">
                <img class="svgStyle" src="/fonts/favorite-solid.svg" alt="" style="height: 17px;width: 17px;">
                <button class="noButton" style="" onclick="toggleSlide(6)">
                    我收藏的文章
                </button>
                <span th:text="${info.myFArticleCount}"
                      style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">10</span>
                <!--隐藏的 我的收藏-->
                <div id="myFavorite" class="slideUp" hidden>
                    <!--一篇 我的收藏-->
                    <div style="margin-top: 10px">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                            <img class="svgStyle" src="/fonts/favorite.svg" alt=""
                                 style="height: 17px;width: 17px;">
                            文章名称很长很长很长很长很长很长很长很长很长很长很长
                        </div>
                    </div>

                </div>


            </div>
            <div class="line2">
                <img class="svgStyle" src="/fonts/favorite-solid.svg" alt="" style="height: 17px;width: 17px;">
                <button class="noButton" style="" onclick="toggleSlide(7)">
                    我关注的问题
                </button>
                <span th:text="${info.myFQuestionCount}"
                      style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">1</span>
                <!--隐藏的我关注的问题-->
                <div id="questions" class="slideUp" hidden>
                    <!--一篇我关注的问题-->
                    <div style="margin-top: 10px">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;
                            overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                            <img class="svgStyle" src="/fonts/question2.svg" alt=""
                                 style="height: 14px;width: 14px;">
                            文章名称很???长很长很长很长很长很长很长很长很长很长很长
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="infoDetail" hidden>
            <button class="noButton" style="margin-left: -23px;" onclick="returnDiv()">
                <img class="svgStyle" src="/fonts/return.svg" alt=""
                     style="height: 17px;width: 17px;">
            </button>

            <img id="statImg" class="svgStyle" src="" alt=""
                 style="height: 17px;width: 17px;">

            <span id="statName">我的文章</span>

            <span id="statNum" style="float: right;background-color: #e6e6e6;text-align: center;min-width: 20px">26</span>
            <div>
                <div hidden id="statdiv1" style="margin-top: 10px">
                    <a id="stata1" href="">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;">
                            <img class="svgStyle" src="/fonts/article2.svg" alt=""
                                 style="margin-top: 2px;float:left;height: 14px;width: 14px;">
                            <div id="statspan1" style="overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                文章名称很长很长很长很长很长很长很长很长很长很长很长
                            </div>

                        </div>
                    </a>
                </div>
                <div hidden id="statdiv2" style="margin-top: 10px">
                    <a id="stata2" href="">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;">
                            <img class="svgStyle" src="/fonts/article2.svg" alt=""
                                 style="margin-top: 2px;float:left;height: 14px;width: 14px;">
                            <div id="statspan2" style="overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                文章名称很长很长很长很长很长很长很长很长很长很长很长
                            </div>

                        </div>
                    </a>
                </div>
                <div hidden id="statdiv3" style="margin-top: 10px">
                    <a id="stata3" href="">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;">
                            <img class="svgStyle" src="/fonts/article2.svg" alt=""
                                 style="margin-top: 2px;float:left;height: 14px;width: 14px;">
                            <div id="statspan3" style="overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                文章名称很长很长很长很长很长很长很长很长很长很长很长
                            </div>

                        </div>
                    </a>
                </div>
                <div hidden id="statdiv4" style="margin-top: 10px">
                    <a id="stata4" href="">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;">
                            <img class="svgStyle" src="/fonts/article2.svg" alt=""
                                 style="margin-top: 2px;float:left;height: 14px;width: 14px;">
                            <div id="statspan4" style="overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                文章名称很长很长很长很长很长很长很长很长很长很长很长
                            </div>

                        </div>
                    </a>
                </div>
                <div hidden id="statdiv5" style="margin-top: 10px">
                    <a id="stata5" href="">
                        <div style=" align-items:center;padding-left:10px;max-width: 220px;">
                            <img class="svgStyle" src="/fonts/article2.svg" alt=""
                                 style="margin-top: 2px;float:left;height: 14px;width: 14px;">
                            <div id="statspan5" style="overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                文章名称很长很长很长很长很长很长很长很长很长很长很长
                            </div>

                        </div>
                    </a>
                </div>



                <div id="pageDiv" style="position: absolute;bottom:0px;margin-left: 27px">

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li><a href="#">上一页</a></li>
                            <li><a href="#">下一页</a></li>

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


            </div>

        </div>


    </div>


</div>
<!--收藏弹出框-->
<div th:fragment="alert-favorite" id="open-modal" class="modal-window">
    <!--收藏夹-->
    <div style="overflow-y: auto;max-height: 580px">
        <a href="#" title="Close" class="modal-close">关闭</a>
        <h3 style="text-align: center">添加收藏</h3>
        <h6 class="font-c3" style="text-align: center">你可以创建多个收藏夹,对文章进行分类</h6>
        <div style="margin-top: 10px">
            <div class="noButton " style="margin-top: 10px;margin:auto;border: 1px solid black;width: 80%">

                <button class="noButton" style="width: 100%">
                    <div style="display: flex; align-items:center;"><span style="font-weight: bolder">＋</span>分类</div>
                </button>
            </div>
        </div>


        <div style="height: 10px"></div>
    </div>
    <!--收藏夹end-->
</div>
<!--提交问题弹出框-->
<div th:fragment="alert-question" id="pull-question" class="modal-window">
    <div style="width: 500px;overflow-y: auto;max-height: 580px">
        <a href="#" title="Close" class="modal-close">关闭</a>
        <h3 style="text-align: center">提问题</h3>
        <h6 class="font-c3" style="text-align: center">向无所不能的网友提问吧U•ェ•*U</h6>
        <textarea id="zf-Q-content" name="content" style="width: 100%;height: 300px;resize:none"></textarea>
        <div id="questionDiv" style="position: relative">
            <div style="position:absolute;">
                <img src="/fonts/image.svg" width="20px" height="20px" alt="">
                上传图片(少于8张)

            </div>
            <input hidden id="zf-q-imgName" type="text">
            <input id="questionImg" value="" type="file" style="height: 100%;width: 100% ;opacity: 0">
            <div><input id="anonymous" type="checkbox">匿名</div>


        </div>
        <div style="text-align: center;">
            <button id="zf-Q-Post" class="btn btn-default" style="width:200px;background: #006cff;color: whitesmoke">
                提交
            </button>
        </div>
    </div>
</div>
