<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>毕设知乎系统-首页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<body>
<header th:replace="common::header"></header>
<main style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <!--正文内容-->
            <div class="col-lg-8" style="padding-right: 0px;">
                <!--二级目录-->
                <div class="col-lg-12"
                     style="padding-right: 15px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">
                    <div class="col-lg-12" style="padding:20px 10px 20px">
                        <div id="time" class="typeChoose types">
                            <button class="noButton" onclick="directoryChange('time')">最新</button>
                        </div>
                        <div id="hot" class="types">
                            <button class="noButton" onclick="directoryChange('hot')">热榜</button>
                        </div>
                        <div shiro:authenticated id="follow" class="types">
                            <button class="noButton" onclick="directoryChange('follow')">关注</button>
                        </div>
                    </div>
                </div>


                <!--一条文章-->
                <div id="flashContent" th:fragment="flashContent">
                    <div th:each="article,index:${articleListV} ">
                        <div class="col-lg-12"
                             style="padding-right: 15px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">
                            <!--正文信息-->
                            <div class="col-lg-12" style="padding:20px 10px 20px">
                                <div th:text="${article.title}" class="line zf-title"><a href=""></a></div>
                                <div class="line">
                                    <button class="noButton" onclick="userInfoGet('test')">
                                        <img th:src="${article.userImg}" class="zf-userImg" src="" alt=""
                                             style="height: 35px;width: 35px;">
                                        <span th:text="${article.userName}" class="zf-userName"
                                              style="font-size: 15px;font-weight: bold;color: #0089ff;">
                                    </span>
                                        <span></span>
                                    </button>
                                </div>
                                <div class="line">
                                    <div th:id="cover+${article.articleId}"
                                         style="float: right; box-shadow: 0px 0px 1px 1px #e7e7e7;border-radius: 10px;">
                                        <img th:src="${article.cover}" src="" alt="" height="110px"
                                             width="190px" style="border-radius: 10px;">
                                    </div>
                                    <div class="line zf-content" th:id="content+${article.articleId}"
                                         style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;">
                                        <div th:utext="${article.content}"></div>
                                    </div>


                                </div>
                                <div class="line">
                                    <button id="support-123" type="submit" class="btn btn-default zf-agree"
                                            onclick="toggleButton('support-123','关注话题')"
                                            style="background-color: rgba(30,144,255,0.44);color: white;border-color: rgba(139,0,0,0)">
                                        <img class="svgStyle" src="fonts/agree.svg" alt=""
                                             style="width: 20px ;height: 20px">
                                        赞同 <span th:text="${article.agree}"></span>
                                    </button>
                                    <span class="tips" th:attr="tooltip=${article.disagree}+'踩'" tooltip="">
                                <button id="dissupport-123" type="submit" class="btn btn-default zf-agree"
                                        style="background-color: rgba(30,144,255,0.44);color: white;border-color: rgba(139,0,0,0)"
                                        onclick="toggleButton('dissupport-123')">
                                <img src="fonts/agree.svg" alt=""
                                     style="width: 20px ;height: 20px;transform: rotateX(180deg)">

                            </button>
                            </span>
                                    <button class="noButton font-c3" style="margin-left: 25px"
                                            onclick="openComment(1515)">
                                        <img class="svgStyle" src="/fonts/message3.svg" alt=""
                                             style="width: 25px ;height: 25px">
                                        <span th:text="${article.comment}+'条评论'"></span>
                                    </button>
                                    <div class="btn-group " style="margin-left: 25px" role="group">
                                        <button type="button" class="dropdown-toggle noButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <img class="svgStyle" src="fonts/share.svg" alt=""
                                                 style="width: 20px ;height: 20px">
                                            <span class="font-c3" style="">分享</span>

                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="line" href="#" style="color: #a0a0a0;margin-top: 15px">
                                                <img class="svgStyle" src="fonts/link.svg" alt=""
                                                     style="height: 15px;width: 15px">
                                                复制链接</a>
                                            </li>
                                            <li><a class="line" href="#" style="color: #a0a0a0;margin-top: 15px">
                                                <img src="fonts/qq.svg" alt="" style="height: 15px;width: 15px">
                                                QQ空间</a>
                                            </li>
                                            <li><a class="line" href="#" style="color: #a0a0a0;margin-top: 15px">
                                                <img src="fonts/xinlang.svg" alt="" style="height: 15px;width: 15px">
                                                新浪微博</a>
                                            </li>
                                            <li><a class="line" href="#" style="color: #a0a0a0;margin-top: 15px">
                                                <img src="fonts/wechart.svg" alt="" style="height: 15px;width: 15px">
                                                微信扫一扫</a>
                                                <div src="" alt="" style="background-color: black;height: 110px"></div>
                                            </li>
                                            <li><a class="line" href="#" style="color: #a0a0a0"></a></li>
                                        </ul>
                                    </div>


                                    <button class="noButton " style="margin-left: 25px">
                                        <a href="#open-modal" style="text-decoration: none">
                                            <img class="svgStyle" src="fonts/favorite-solid.svg" alt=""
                                                 style="width: 20px ;height: 20px">
                                            <span class="font-c3" style="">收藏</span>
                                        </a>
                                    </button>

                                    <button class="openContent noButton" th:id="${article.articleId}"
                                            style="margin-left: 20px">
                                        <img class="svgStyle" src="/fonts/expand.svg" alt=""
                                             width="20px" height="20px">
                                        <span th:id="${article.articleId}" class="font-c3"
                                              style="color: #0c64f4">展开</span>
                                    </button>


                                    <div class="btn-group" style="margin-left: 25px" role="group">
                                        <button type="button" class="dropdown-toggle noButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <img class="svgStyle" src="fonts/more.svg" alt=""
                                                 style="width: 20px ;height: 20px">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="line" href="#"
                                                   style="color: #a0a0a0;margin-top: 15px">不再推荐</a>
                                            </li>
                                            <li><a class="line" href="#" style="color: #a0a0a0">没有帮助</a></li>
                                            <li><a class="line" href="#" style="color: #a0a0a0">举报</a></li>
                                        </ul>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <!--该文章下的所有评论-->
                        <div class="col-lg-12" id="A1515" hidden
                             style="padding-right: 15px;background-color: #f8f8f8;box-shadow: 0px 0px  1px 1px #dfdfdf;">
                            <!--评论导航栏-->
                            <div class="col-lg-12"
                                 style="background-color: #d1d1d1;box-shadow: 0px 0px  2px 2px #dfdfdf;">
                                <div class="col-lg-6"><h5 style="font-weight: bold">100条评论</h5></div>
                                <div class="col-lg-6" style="text-align: right">
                                    <button class="noButton " onclick="toggleComments()">
                                        <h5 class="font-c3"><img src="fonts/switch.svg"
                                                                 style="height: 15px;width: 15px">
                                            <span id="toggleComments" class="hot">切换为最新评论</span>
                                        </h5>
                                    </button>
                                </div>
                            </div>
                            <!--一条评论-->
                            <div class="col-lg-12" style="box-shadow: 0px 0px  1px 1px #dfdfdf;">
                                <div style="margin-top: 15px">
                                    <button class="noButton">
                                        <img src="images/defaultUser.jpg" alt=""
                                             style="height: 30px;width: 30px;border-radius: 50%">
                                        <span style="color:#136fff;font-weight: bold">用户名字</span>
                                    </button>
                                    <span class="font-c3" style="float: right">2019-5-6-19:28</span>
                                </div>
                                <div style="margin: 15px 32px" onmouseenter="showDv2('C123')"
                                     onmouseleave="closeDv2('C123wogaun')">
                                    之前在网易云听到一首韩文歌，里面有一句是I got a crush on you翻译的是我对你一见钟情，当时听到就觉得好喜欢
                                    <div style="margin-top: 10px">
                                        <button class="noButton">
                                            <img src="fonts/agree-%238a8a8a.svg" alt=""
                                                 style="width: 15px;height: 15px">
                                            <span class="font-c3">112赞</span>
                                        </button>

                                        <button class="noButton">
                                            <img src="fonts/message4.svg" alt="" style="width: 15px;height: 15px">
                                            <span class="font-c3">查看回复</span>
                                        </button>
                                        <span id="C123" hidden>
                                <button class="noButton">
                                    <img src="fonts/recall.svg" alt="" style="width: 15px;height: 15px">
                                    <span class="font-c3">回复</span>
                                </button>

                                <button class="noButton">
                                    <img src="fonts/agree-%238a8a8a.svg" alt=""
                                         style="transform: rotateX(180deg);width: 15px;height: 15px">
                                    <span class="font-c3">踩</span>
                                </button>

                                <button class="noButton">
                                    <img src="fonts/report.svg" alt="" style="width: 15px;height: 15px">
                                    <span class="font-c3">举报</span>
                                </button>
                                </span>

                                    </div>
                                </div>

                            </div>
                            <div style="text-align: right">
                                <button class="noButton" onclick="closeComment(1515)">
                                    <img src="fonts/putaway.svg" alt=""
                                         style="transform: rotateX(180deg);width: 20px;height: 20px">
                                    收起评论
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <!--一条文章end-->
            </div>


            <!--右侧栏-->
            <div th:replace="common::right"></div>

        </div>


    </div>

</main>

<!--收藏夹弹出框-->
<div th:replace="common::alert-favorite"></div>

<!--问题夹弹出框-->
<div th:replace="common::alert-question"></div>
</body>
<script>
    $(document).ready(function (e) {
        //问题上传图片
        $('#questionImg').change(function () {
            const file = $(this)[0].files[0];
            const size = file.size;//大小单位 B
            const maxSize = 1024 * 1024 * 1;  //1MB
            if (maxSize > size) {
                const formData = new FormData();//将文件封装，异步提交文件
                formData.append("file", file);//键值对
                formData.append("src", 'questions');//键值对
                $.ajax({
                    url: '/image',
                    dataType: 'json',
                    type: 'POST',
                    async: true,
                    data: formData,
                    processData: false, // 使数据不做处理
                    contentType: false, // 不要设置Content-Type请求头
                    success: function (data) {
                        const srcImg = "/upload/questions/" + data.imageName;
                        $("#zf-q-imgName").val($("#zf-q-imgName").val() + data.imageName + "&&");
                        const img = " <img class=\"\" src=\"" + srcImg + "\" alt=\"\" width=\"100px\" height=\"60px\" style=\"margin: 4px\">";
                        $("#questionDiv").append(img);
                    },
                    error: function (response) {
                        console.log(response);
                        alert("图片文件上传错误！")
                    }
                });
            } else {
                alert("文件过大，请上传小于1MB的文件")
            }

        });

        $("#zf-Q-Post").click(function () {
            const content = $("#zf-Q-content").val();
            const imgs = $("#zf-q-imgName").val();
            const anonymous = $("#anonymous").val();
            $.ajax({
                url: "/questions",
                method: 'post',
                data: ({
                    content: content,
                    imgs: imgs,
                    anonymous: anonymous,
                }), success: function () {
                    alert("提交成功！");
                    window.location.reload();
                }
            })
        });

        $(".openContent").click(function () {
            $('.openContent').click(function () {
                const id = $(this).attr("id");
                if ($(this).hasClass('open')) {
                    $('#content' + id).attr('style', '');
                    $('#cover' + id).hide();
                    $(this).children('span').text('收起');
                    $(this).children('img').attr('style', ' transform: rotatex(180deg)');
                    $(this).removeClass('open')
                } else {
                    $('#content' + id).attr('style', 'display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;');
                    $('#cover' + id).show();
                    $(this).children('span').text('展开');
                    $(this).children('img').attr('style', 'transform: rotatex(180deg)');
                    $(this).addClass('open')
                }


            })
        });


    });
</script>

</html>